<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
          id="com.airsig.plugin.AirSigGUIPlugin"
          version="0.1.0">

	<name>AirSigGUIPlugin</name>

	<engines>
		<engine name="cordova" version=">=3.7.1"/>
	</engines>

	<asset src="www/AirSigGUIPlugin.js" target="js/AirSigGUIPlugin.js"/>

	<js-module src="www/AirSigGUIPlugin.js" name="AirSigGUIPlugin">
		<clobbers target="AirSigGUIPlugin" />
	</js-module>

	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AirSigGUIPlugin">
				<param name="android-package" value="com.airsig.plugin.AirSigGUIPlugin"/>
			</feature>
		</config-file>

		<!-- code -->
		<source-file src="src/android/AirSigGUIPlugin.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/ASActivityManager.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/ASGui.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/Const.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/EntryActivity.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/TrainingActivity.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/TutorialActivity.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/VerifyActivity.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/DeviceUuidFactory.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/ActivityExtension.java" target-dir="src/com/airsig/plugin/"/>
		<source-file src="src/android/ASManager.java" target-dir="src/com/airsig/plugin/"/>

		<!-- libs -->
		<source-file src="src/android/libs/AirSig_WebAPI_Client_v1.0.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/android-support-v13.jar" target-dir="libs"/>

		<!-- res -->
		<source-file src="src/android/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi"/>
		<source-file src="src/android/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ani_doubleclick_01.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ani_doubleclick_02.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ani_doubleclick_03.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ani_recording.gif" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/bg_authenticate_circle.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/bg_authenticate_circle_fail.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/bg_authenticate_circle_success.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/bg_clickarea_light.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/button_large_padding_blue.xml" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/button_large_padding_white.xml" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/button_small_padding_blue.xml" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/dot_indicator_hi.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/dot_indicator_lo.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_close.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_done.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_done_big_green.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_done_big_white.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_fail_big_white.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_click_finger.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_powered.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_strengthlevel_01.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_strengthlevel_02.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_strengthlevel_03.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_strengthlevel_04.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_strengthlevel_05.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_touchposition.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_tutorial_01.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_tutorial_02.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_tutorial_03.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/img_tutorial_04.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/layout/activity_entry.xml" target-dir="res/layout"/>
		<source-file src="src/android/res/layout/activity_tutorial.xml" target-dir="res/layout"/>
		<source-file src="src/android/res/layout/activity_verify.xml" target-dir="res/layout"/>
		<source-file src="src/android/res/layout/fragment_tutorial.xml" target-dir="res/layout"/>
		<source-file src="src/android/res/layout/training_activity.xml" target-dir="res/layout"/>
		<source-file src="src/android/res/menu/actionbar_main_activity.xml" target-dir="res/menu"/>
		<source-file src="src/android/res/menu/actionbar_training_mode.xml" target-dir="res/menu"/>
		<source-file src="src/android/res/menu/main.xml" target-dir="res/menu"/>
		<source-file src="src/android/res/values/color.xml" target-dir="res/values"/>
		<source-file src="src/android/res/values/dimens.xml" target-dir="res/values"/>

		<source-file src="src/android/res/values/styles.xml" target-dir="res/values"/>

		<!--<source-file src="src/android/res/values-v11/styles.xml" target-dir="res/values-v11"/>
		<source-file src="src/android/res/values-v14/styles.xml" target-dir="res/values-v14"/>
		<source-file src="src/android/res/values-w820dp/dimens.xml" target-dir="res/values-w820dp"/>
		<source-file src="src/android/res/values-zh-rCN/strings.xml" target-dir="res/values-zh-rCN"/>
		<source-file src="src/android/res/values-zh-rTW/strings.xml" target-dir="res/values-zh-rTW"/>-->

		<!-- <source-file src="src/android/res/values/strings.xml" target-dir="res/values"/> -->
		<config-file target="res/values/strings.xml" parent="/resources">
			<!-- AirSig project licence-->
			<string name="airsig_licence">{YOUR LICENCE KEY}</string>

			<!-- For entry activity -->
			<string name="action_settings">Settings</string>
			<string name="set_signature">Set Signature</string>
			<string name="verify_signature">Verify Signature</string>
			<string name="clean_db">Clean DB</string>
			<string name="no_signature">Please press "Set Signature" first</string>

			<!-- For tutorial activity -->
			<string name="tutorial_title_p0">What is Air-Signature</string>
			<string name="tutorial_desc_p0">Hold the phone and writing words to create your own unique key.</string>
			<string name="tutorial_title_p1">Why Secure</string>
			<string name="tutorial_desc_p1">Everyone\'s signature is unique and extremely difficult to copy by others.</string>
			<string name="tutorial_title_p2">Hold the Phone Stably and Consistent</string>
			<string name="tutorial_desc_p2">Different holding will be considered as different identity.</string>
			<string name="tutorial_title_p3">Use Your Wrist</string>
			<string name="tutorial_desc_p3">Smaller movement is easier to write and more difficult be observed by others.</string>
			<string name="get_started">GET STARTED</string>

			<!-- For verify activity -->
			<string name="verify_match">Match!</string>
			<string name="verify_not_match">Not match!</string>

			<!-- For training activity -->
			<!-- Text for actionbar -->
			<string name="done">Done</string>
			<string name="reset">Reset</string>
			<string name="clean">Clean Data</string>

			<!-- Title and description -->
			<string name="textview_title_screen1_3">Set how you hold the phone</string>
			<string name="textview_description_screen1_3">Put your thumb on the screen. Test which position suits you best for you to write. "Double Tap" when you are ready.</string>
			<string name="textview_title_screen4_5">Sign your secret word</string>
			<string name="textview_description_screen4_5">Press the button and start writing, releasing your thumb when you complete.</string>

			<!-- Text for 3rd training screen -->
			<string name="textview_set_thumb">Set</string>
			<string name="btn_next_step">Next Step</string>

			<!-- Text for 5th training screen -->
			<string name="textview_recording">Recording&#8230;</string>

			<!-- Text for 6th training screen -->
			<string name="textview_training_status">%1$d Signatures Inputted\n(Need %2$d times left)</string>
			<string name="textview_training_restult">Show training result.\nShow training result.Show training result.\nShow training result.</string>

			<!-- Text for 7th training screen -->
			<string name="btn_sign_again">Sign Again</string>
			<string name="btn_test_signature">Test Signature</string>
			<string name="textview_training_done">All Set</string>
			<string name="textview_strength_description">Security Strength is </string>
			<string name="textview_training_result_strong">Strong</string>
			<string name="textview_training_result_normal">Normal</string>
			<string name="textview_training_result_weak">Weak</string>
			<string name="textview_training_result_weakest">Very Weak</string>

			<!-- Text for dialog popup in training mode -->
			<string name="training_popup_title">Message</string>
			<string name="training_popup_not_finish_training">You did not finsih training.</string>

			<string name="err_not_found">Not found.</string>
			<string name="err_invalid_license">Invalid license.</string>
			<string name="err_invalid_action_index">Invalid actionIndex.</string>
			<string name="err_user_id">Invalid userId.</string>
			<string name="err_invalid_signature">Invalid signature.</string>
			<string name="err_high_defference">Signature is too different.</string>
			<string name="err_no_sensor">Motion sensors are unavailable.</string>
			<string name="err_no_internet">No internet.</string>
			<string name="ok">OK</string>
		</config-file>

		<!-- confog -->
		<config-file target="androidmanifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.VIBRATE"/>

			<uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
			<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
		</config-file>

		<config-file target="androidmanifest.xml" parent="/manifest/application">

			<activity
            android:name="com.airsig.webclientgui.EntryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >           
			</activity>        
			<activity
            android:name="com.airsig.webclientgui.VerifyActivity"
            android:theme="@style/AppThemeVerify"
            android:screenOrientation="portrait" >
			</activity>        
			<activity
            android:name="com.airsig.webclientgui.TutorialActivity"
            android:theme="@style/AppThemeTutorial"
            android:screenOrientation="portrait" >
			</activity>        
			<activity android:name="com.airsig.webclientgui.TrainingActivity"
            android:screenOrientation="portrait" >            
			</activity>
		</config-file>

	</platform>
</plugin>