* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #059b93;
  background-attachment: fixed;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 12px;
  word-wrap: break-word;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.wholePage {
  height: 100vh;
}

#title {
letter-spacing: 6px;
}

#editPage {
  background-color: #2C3E50;
}

.header {
  padding: 5px;
  background-color: #06897f;
  color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  /* border-width: 1px;
   border-color: */
}

.header div {
  text-align: center;
  text-transform: uppercase;
}

.header .right-holder {
  margin-top: 9px;
}

.headerElem {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  word-wrap: break-word;
  color: #fff !important;
  text-align: left;
}

.headerElem.right {
  height: 20px;
  width: 20px;
  position: bottom;
  background: url(../img/bt_icon50.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  float: right;
  margin-right: 5px;
}

.container {
  width: 100%;
  padding: 15% 5%;
  color: #fff;
}

.degugingButtons{
  margin: 3px;
}
#unlockingPageCont, #invalidPageCont, #validatingPageCont, #trainingPageCont {
  padding: 0% 5%;
  padding-top: 2%;
}

.actions {
  height: 22vh;
  width: 49%;
  margin: 0.5% 0.5%;
  font-size: 12.5px;
  word-wrap: break-word;
  border: none !important;
}

#bigButton, #bigTrainButton {
  background-color: #e74c3c;
  height: 90vh;
  width: 98%;
  margin: 0% 1%;
}

#bigTrainButton{
  line-height: 25px;

}

#bigButton:active, #bigTrainButton:active {
  background-color: red;
  box-shadow: 0 5px #27496d;
  text-shadow: -1px 1px #27496d;
  border: none;
}

#bigInvalidButton {
  height: 90vh;
  width: 98%;
  margin: 0% 1%;
}

#bigValidatingButton {
  background-color: #f39c12;
  height: 90vh;
  width: 98%;
  margin: 0% 1%;
}

.orange {
  background: #ffab07;
}

.yellow {
  background-color: #ffbb38;
}

.tan {
  background-color: #ffcc6a;
}

.green {
  background: #72ad75;
}

/*.app {
    width: 80%;
    margin: auto;
    margin-top: 75px;
}*/
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

#debugingDiv {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  word-wrap: break-word;
}

.spinner {
  width: 61px;
  height: 61px;
  margin: 18px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
/*
//cube spinner 
.spinner {
  width: 30px;
  height: 30px;
  background-color: rgba(255,255,255,0.5);

  margin: 50px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
*/

/*# sourceMappingURL=style.css.map */
